
<%=render 'header', title: "New Restaraunt" %>
</br>
</br>


<div class= "container">
<%=form_for @restaraunt do |f|%>
<div class="form-group">
<%=f.label :name %>
<%=f.text_field :name %>
</div>
<div class="form-group">
<%=f.label :description %>
<%=f.text_area :description %>
</div>
<div class="form-group">
<%=f.label :address %>
<%=f.text_field :address %>
</div>
<div class="form-group">
<%=f.label :number %>
<%=f.text_field :number %>
</div>
<div class="form-group">
Upload a Picture: <%=f.file_field :avatar%>
<%=f.hidden_field :avatar_cache %>
</div>
<div class="form-group">
Upload a Menu: <%=f.file_field :menu%>
<p>PDF file Only</p>
</div>

<div class="form-group">
  <%=f.label "Categories"%>
  <%=f.collection_check_boxes :category_ids, Category.all, :id, :name do |cb| %> 
    <% cb.label(class: "checkbox-inline"){cb.check_box(class:"checkbox") + cb.text} %>
 <%end%>
</div>
<div class="form-group">
<%= f.submit %>
</div>
<%end%>
</div>


  
  
  
  
