<%= render '/sessions/headers', title: 'Edit Profile'%>

<div class="well">
	<fieldset>
<%= form_for @user do |f|%>


	<%=f.label :username%>
	<%=f.text_field :username%></br>


	<%=f.label :email%>
	<%=f.email_field :email%></br>

	<%=f.label :password%>
	<%=f.password_field :password%></br></br>
<%=f.submit 'Update', class: 'btn btn-success'%>
<%end%>
</fieldset>
</div>