<!DOCTYPE html>
<html>
<head>
  <title>Reservester</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <ul class="nav nav-tabs" role="tablist">
  <li><%=link_to 'All', restaraunts_path%></li>
  <li><%=link_to 'Categories', categories_path%></li>
  <%if logged_in? %>
  <li class="pull-right"><%=link_to 'Hi ' + current_user.username  %></li> 
  <li><%=link_to 'New', new_restaraunt_path%></li>
  <li><%=link_to 'Logout', logout_path%></li>
  <%else%>
  <li><%=link_to 'Login', login_path%></li>
  <li><%=link_to 'Register', register_path%></li>
  <%end%>
  

</ul>
	<div class="container">
      <div class="row">
        <div class="span9">
            <% if notice %>
            <p class="alert alert-success"><%= notice %></p>
            <% end %>
            <% if alert %>
            <p class="alert alert-danger"><%= alert %></p>
            <% end %>
          <%= yield %>
        </div>
        <div class="span3">
        </div>
      </div>
  </div>

</body>
</html>
